<head>
    <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon">
</head>

<section class="section-intro">

    <div class="intro-banner-wrap">
        <img src="https://cdn.dsmcdn.com/ty144/pimWidgetApi/webBig_20210712084344_akilliceptel100621web1.jpg"
            class="w-100 img-fluid">
    </div>

</section>

<section class="section-specials padding-y border-bottom">
    <div class="container">
        <div class="row" style="margin-top: 30px; margin-bottom: 30px;">
            <div class="col-md-4">
                <figure class="itemside">
                    <div class="aside">
                        <span class="icon-sm rounded-circle bg-primary">
                            <i class="fa fa-money-bill-alt white"></i>
                        </span>
                    </div>
                    <figcaption class="info">
                        <h6 class="title">Reasonable prices</h6>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labor </p>
                    </figcaption>
                </figure> <!-- iconbox // -->
            </div>
            <div class="col-md-4">
                <figure class="itemside">
                    <div class="aside">
                        <span class="icon-sm rounded-circle bg-danger">
                            <i class="fa fa-comment-dots white"></i>
                        </span>
                    </div>
                    <figcaption class="info">
                        <h6 class="title">Customer support 24/7 </h6>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labor </p>
                    </figcaption>
                </figure> <!-- iconbox // -->
            </div>
            <div class="col-md-4">
                <figure class="itemside">
                    <div class="aside">
                        <span class="icon-sm rounded-circle bg-success">
                            <i class="fa fa-truck white"></i>
                        </span>
                    </div>
                    <figcaption class="info">
                        <h6 class="title">Quick delivery</h6>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labor </p>
                    </figcaption>
                </figure> <!-- iconbox // -->
            </div>
        </div>

    </div>
</section>


<div class="row" style="margin-left: 300px;">
    <div class="col-md-3" *ngFor="let type of types" [routerLink]="['/app/customerproducts']">
        <div class="card card-product-grid" align="center" route>
            <a class="img-wrap"> <img [src]="type?.imageUrl" alt="..."> </a>
            <figcaption class="info-wrap">
                <div class="title" style="padding: 15px;" align="center" > <b>{{ type?.name }}</b> {{ type?.description }} </div>
            </figcaption>
        </div>
    </div>
</div>
